.navigation-button,
.shoping-cart {
  position: absolute;
  top: 10px;
  right: 10px;
}

.navigation-button__icon,
.shoping-cart__icon {
  font-size: 30px;
  color: #4d1566;
}

.shoping-cart {
  right: 0;
  left: 10px;
}

.navigation {
  position: fixed;
  top: 60px;
  right: -100%;
  padding: 10px;
  border: 2px solid #4d1566;
  border-radius: 5px;
  box-shadow: 2px 1px 5px 2px #4d1566;
  background: rgba(255, 253, 250, 0.86);
  transition: .4s;
}

.navigation__list {
  list-style: none;
}

.navigation--active {
  right: 0%;
}
