@import './colors';

.navigation-button,
.shoping-cart {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;

    &__icon {
        font-size: 30px;
        color: $main-color;
    }
}

.shoping-cart {
    right: 0;
    left: 10px;

    &__products-number {
        position: absolute;
        bottom: -5px;
        right: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border: 2px solid $main-color;
        border-radius: 50%;
        background: salmon;
        font-weight: bolder;
        font-size: 10px;


    }
}

.navigation {
    position: fixed;
    top: 60px;
    right: -100%;
    padding: 10px;
    border: 2px solid $main-color;
    border-radius: 5px;
    box-shadow: 2px 1px 5px 2px $main-color;
    background: rgba(255, 253, 250, 0.86);
    transition: .4s;

    &__list {
        list-style: none;
    }

    &__item {
        border-bottom: 1px solid $main-color;

        &:nth-child(4) {
            border-bottom: none;
        }
    }



    &__text {
        color: rgb(255, 87, 34);
        font-family: 'Balsamiq Sans', cursive;
    }
}

.navigation--active {
    right: 0%;
}