@import './colors';

.navigation-button,
.shoping-cart {
    position: absolute;
    top: 10px;
    right: 10px;

    &__icon {
        font-size: 30px;
        color: $main-color;
    }
}

.shoping-cart {
    right: 0;
    left: 10px;
}

.navigation {
    position: fixed;
    top: 60px;
    right: -100%;
    padding: 10px;
    border: 2px solid $main-color;
    border-radius: 5px;
    box-shadow: 2px 1px 5px 2px $main-color;
    background: rgba(255, 253, 250, 0.86);
    transition: .4s;

    &__list {
        list-style: none;
    }
}

.navigation--active {
    right: 0%;
}